@{
    ViewData["Title"] = "Home Pagee";
    @* ViewData["hieu"] = 123; *@
}

<div class="text-center">
    <h1 class="display-4">Welcome1234</h1>
    <a asp-area="" asp-controller="Api" asp-action="Index">Test @ViewData["hieu"]</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
